h1 {
    font-family: 'Courier New', Courier;
}

.hear-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-radar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.radar {
    position: absolute;
    bottom: 5rem; /* Adjust spacing between items */
}