.hear-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-radar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-radar {
    position: absolute;
    bottom: 2em;
}
  
.desktop-radar {
    position: absolute;
    bottom: 4em;
}
body {
    font-family: 'Roboto';
}

.dark {
    background-color: #2a2b2b;
}

.light {
    background-color: #ddceb5;
}

.light-label {
    color: #2a2b2b;
}

.dark-label {
    color: #ffffff;
}