h1 {
    font-family: 'Courier New', Courier;
}

.hear-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-radar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-radar {
    position: absolute;
    bottom: 2em;
}
  
.desktop-radar {
    position: absolute;
    bottom: 6em;
}